@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: "Inter", sans-serif;

        -webkit-font-smoothing: antialiased;
        font-synthesis: none;
    }
    @supports (font-variation-settings: normal) {
        :root {
            font-family: "Inter var", sans-serif;
        }
    }

    body {
        @apply overflow-hidden;
    }
}

/* #content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
} */
